body{
    background-color: #90EE90;
}
.exercice{
    background-color:white;
    min-height: 200px;
    margin: 20px;
    border: 2px solid #7B68EE;
    border-radius: 10px;
    padding:  10px;
    text-align: center;
}

.result{
    text-align: left;
}

#popupLbl{
    width: 340px;
    text-align: center;
    padding: 1px;
    border: 2px solid green;
    background-color:PaleGreen;
    color:black;
    font-size: 14px;
    margin: 2px;
    border-radius: 5px;
}

.hidden{
    visibility: hidden;
}